<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>

    <header>
        <h1>About Us</h1>
    </header>
    
    <div class="container">
        <section>
            <h2>Who We Are</h2>
            <p>Welcome to the wacky world of Ricky & Morty Company! We are a group of dedicated individuals with a
                passion for intergalactic adventures and mind-bending experiences. Our journey began with the shared
                vision of creating extraordinary moments for fans of Rick and Morty.</p>
        </section>

        <section>
            <h2>Our Mission</h2>
            <p>At Ricky & Morty Company, our mission is to explore strange new dimensions, seek out new characters and
                civilizations, and boldly go where no one has gone before in the multiverse. We are committed to
                providing intergalactic excellence in entertainment and merchandise, making a positive impact on our
                community and beyond. Our goal is to bring joy, laughter, and a touch of madness to fans across the
                universe.</p>
        </section>

        <section>
            <h2>Meet the Team</h2>

            <div class="team-members">
                <div class="team-member">
                    <img src="assets/images/Rick.png" alt="Rick Sanchez">
                    <div>
                        <h3>Rick Sanchez</h3>
                        <p>Co-Founder & CEO</p>
                    </div>
                </div>

                <div class="team-member">
                    <img src="assets/images/Morty.png" alt="Morty Smith">
                    <div>
                        <h3>Morty Smith</h3>
                        <p>Co-Founder & CTO</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer>
        &copy; 2023 Ricky & Morty Company. All rights reserved.
    </footer>

</body>

</html>
