<header>
    <h1>Rick and Morty Characters</h1>
</header>

<div class="container mt-3">
    <div class="row">
        @for (character of characters; track $index) {
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ character.image }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ character.name }}</h5>
                        <button (click)="showCharacter(character)" class="btn btn-warning card-button">+ INFO</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<footer>
    &copy; 2023 Ricky & Morty App. All rights reserved.
</footer>
