
h1{
    margin-left: -300px;
}

form {
    display: flex;
    align-items: center;
}

input {
    margin-right: 5px;
}

a{
    margin-left: 10px;
    margin-right: 5px;
}

b{
    margin-left: 50px;
    cursor: pointer;
}

form {
    display: flex;
    margin-left: 70px;
}