<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <header>
        <h1>Welcome to Ricky & Morty API</h1>
    </header>

    <div class="container">
        <section>
            <h2>Explore the Multiverse</h2>
            <p>Dive into the crazy world of Rick and Morty. Discover new dimensions, meet unique characters, and
                embark on intergalactic adventures!</p>
        </section>

        <section>
            <img src="assets/images/HomeRick-Morty.png" alt="Morty Smith" class="featured-image">
        </section>

        <section>
            <h3>Join the Madness</h3>
            <p>Don't miss out on the fun! Join us on our epic journey through the multiverse. Be part of a community
                that loves laughter, madness, and everything in between.</p>
                
            <a routerLink="/personajes" class="cta-button">Get Started</a>
        </section>
    </div>

    <footer>
        &copy; 2023 Ricky & Morty App. All rights reserved.
    </footer>

</body>

</html>
